body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #e673ac;
  color: #121111;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 1rem;
  height: 300px;
  width: 400px;
  border: 0.4rem solid #660033;
  border-radius: 0.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.file-name {
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem;
}

.bar-outer {
  height: 1rem;
  width: 90%;
  background-color: #fcfcfc;
  border-radius: 1rem;
}

.bar {
  height: 1rem;
  width: 100%;
  border-radius: 1rem;
}

.percentage{
    font-size: 1.4rem;
    font-weight: 600;
}

button{
    padding: 0.4rem;
    background: transparent;
    border: 0.2rem solid #00520A;
    border-radius: 0.4rem;
}


